<nlog autoReload="true" internalLogLevel="Error" internalLogFile="nlog_internal.log" internalLogToConsole="false" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="LogentriesNLog"/>
    <add assembly="Gelf4NLog.Target" />
  </extensions>

  <variable name="Environment" value="DEV" />
  <variable name="AppName" value="OB.API.Public-CVC" />

  <targets>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper" />
    </default-wrapper>
    <target name="fileLog" xsi:type="File" fileName="${basedir}/App_Data/LOGS/${shortdate}/operations.txt" >
      <layout type='JsonLayout'>
        <attribute name='CreationDate' layout='${longdate}' />
          <attribute name='LevelName' layout='${level:upperCase=true}'/>
          <attribute name='Environment' layout='${var:Environment}' />
          <attribute name='AppName' layout='${var:AppName}' />
          <attribute name='HostName' layout='${machinename}' />
          <attribute name='UserName' layout='${event-properties:item=UserName}'/>
          <attribute name='Message' layout='${pci:${message}}' encode='false' />
          <attribute name='Request' layout='${pci:${event-properties:item=Request}}' encode='false'/>
          <attribute name='OtherInfoFromIncentives' layout='${pci:${event-properties:item=OtherInfoFromIncentives}}' encode='false'/>
          <attribute name="EventId" layout="${event-properties:item=EventId}" encode="false"/>
          <attribute name="EntityKey" layout="${event-properties:item=EntityKey}" encode="false"/>
          <attribute name="EntityName" layout="${event-properties:item=EntityName}" encode="false"/>
          <attribute name="ReservationNumber" layout="${event-properties:item=ReservationNumber}" encode="false"/>
          <attribute name='Exception' encode='false'>
            <layout type='JsonLayout'>
              <attribute name='Message' layout='${exception:format=Message}'/>
              <attribute name='StackTrace' layout='${exception:format=StackTrace:separator=&#xA;}' />
              <attribute name='InnerException' layout='${exception:innerFormat=Message,StackTrace:innerExceptionSeparator=&#xA;:maxInnerExceptionLevel=10}' />
            </layout>
          </attribute>
        </layout>
      </target>
    
    <target name="fileLogPayU" xsi:type="File" fileName="${basedir}/App_Data/LOGS/${shortdate}/PayUOperations.txt" >
      <layout type='JsonLayout'>
        <attribute name='CreationDate' layout='${longdate}' />
        <attribute name='LevelName' layout='${level:upperCase=true}'/>
        <attribute name='Environment' layout='${var:Environment}' />
        <attribute name='AppName' layout='${var:AppName}' />
        <attribute name='HostName' layout='${machinename}' />
        <attribute name='UserName' layout='${event-properties:item=UserName}'/>
        <attribute name='Message' layout='${pci:${message}}' encode='false' />
        <attribute name='Request' layout='${pci:${event-properties:item=Request}}' encode='false'/>
        <attribute name='Response' layout='${pci:${event-properties:item=Response}}' encode='false'/>
        <attribute name='Exception' encode='false'>
          <layout type='JsonLayout'>
            <attribute name='Message' layout='${exception:format=Message}'/>
            <attribute name='StackTrace' layout='${exception:format=StackTrace:separator=&#xA;}' />
            <attribute name='InnerException' layout='${exception:innerFormat=Message,StackTrace:innerExceptionSeparator=&#xA;:maxInnerExceptionLevel=10}' />
          </layout>
        </attribute>
      </layout>
    </target>
    <!--<target name="logEntries" type="Logentries" debug="true" httpPut="false" ssl="false">
      <layout type='JsonLayout'>
        <attribute name='CreationDate' layout='${longdate}' />
        <attribute name='Level' layout='${level:upperCase=true}'/>
        <attribute name='HostName' layout='${machinename}' />
        <attribute name='Message' layout='${message}' encode='false' />
      </layout>
    </target>-->
  </targets>
  <rules>
    <logger name="PaymentGatewaysLibrary.PayUColombia" minlevel="Debug" writeTo="fileLogPayU" />
    <logger name="PaymentGatewaysLibrary.PayU" minlevel="Debug" writeTo="fileLogPayU" />
    <logger name="*" minlevel="Info" writeTo="fileLog" />
    <logger name="OB.BL.Operations.Impl.ReservationValidatorPOCO" minlevel="Warn" writeTo="fileLog" />
  </rules>
</nlog>