<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="OmnibeesConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True" />
      <add name="ReservationsConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.100.105;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True" />
      

      <add name="ChannelsContext" connectionString="metadata=res://*/Channels.csdl|res://*/Channels.ssdl|res://*/Channels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="CRMContext" connectionString="metadata=res://*/CRM.csdl|res://*/CRM.ssdl|res://*/CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="GeneralContext" connectionString="metadata=res://*/General.csdl|res://*/General.ssdl|res://*/General.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="PaymentsContext" connectionString="metadata=res://*/Payments.csdl|res://*/Payments.ssdl|res://*/Payments.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      
      <add name="PMSContext" connectionString="metadata=res://*/PMS.csdl|res://*/PMS.ssdl|res://*/PMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="PropertiesContext" connectionString="metadata=res://*/Properties.csdl|res://*/Properties.ssdl|res://*/Properties.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="RatesContext" connectionString="metadata=res://*/Rates.csdl|res://*/Rates.ssdl|res://*/Rates.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="ReservationsContext" connectionString="metadata=res://*/Reservations.csdl|res://*/Reservations.ssdl|res://*/Reservations.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.105;Initial Catalog=Omnibees_dev2;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=50;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <add name="OmnibeesJobs" connectionString="Server=192.168.100.105; Database=OmnibeesJobs; Persist Security Info=True;User ID=pedro;Password=pedro;" />
      <add name="PortalOperadoras" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.100.105;Initial Catalog=PortalOperadoras;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True" />

      <add name="OmnibeesHistoryContext" connectionString="metadata=res://*/OmnibeesHistory.csdl|res://*/OmnibeesHistory.ssdl|res://*/OmnibeesHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.105;initial catalog=OmnibeesHistory_Dev;persist security info=True;user id=pedro;password=pedro;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="OmnibeesHistoryContextReadOnly" connectionString="metadata=res://*/OmnibeesHistory.csdl|res://*/OmnibeesHistory.ssdl|res://*/OmnibeesHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.105;initial catalog=OmnibeesHistory_Dev;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=EntityFramework;applicationintent=readonly&quot;" providerName="System.Data.EntityClient" />

      
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />   
  </system.web>
    
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" xdt:Transform="Insert" />
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Insert"/>

    <!--<applicationInitialization xdt:Transform="Remove" />-->
  </system.webServer>
</configuration>