<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- Connector's MSMQ Settings -->
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <!-- CouchBase -->
    <sectionGroup name="couchbaseClients">
      <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <Logging Threshold="Error" />
  <couchbaseClients>
    <couchbase useSsl="false">
      <servers>
        <add uri="http://172.25.10.207:8091/pools" />
      </servers>
      <buckets>
        <add name="PMSActivity" password="" />
        <add name="ExternalSystemsActivity" password="" />
        <add name="LostReservations" />
        <add name="EventLog" />
        <add name="OmnibeesEvents" />
        <add name="PortalEvents" />
      </buckets>
    </couchbase>
  </couchbaseClients>
  <!-- Connector's MSMQ Settings -->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error@SRV-PP-EVENTS" />
  <AuditConfig QueueName="audit@SRV-PP-EVENTS" />
  <connectionStrings>
    <add name="OmnibeesConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=172.25.30.113,30001;Initial Catalog=Omnibees;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.SQL;" />
    <add name="OmnibeesConnectionStringReadOnly" providerName="System.Data.SqlClient" connectionString="Data Source=172.25.30.113,30001;Initial Catalog=Omnibees;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.SQL;applicationintent=readonly;" />
    <add name="ReservationsConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=172.25.30.113,30001;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.SQL;" />
    <add name="OmnibeesJobs" connectionString="Server=172.25.30.114,30001; Database=omnibeesJobs; Persist Security Info=True;User ID=pedro;Password=pedro;application name=OB.REST.Reservations.SQL;" />
    <add name="PortalOperadoras" providerName="System.Data.SqlClient" connectionString="Data Source=172.25.30.113,30001;Initial Catalog=PortalOperadoras;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.SQL;" />
    <add name="PaymentsContext" connectionString="metadata=res://*/Payments.csdl|res://*/Payments.ssdl|res://*/Payments.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.25.30.113,30001;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity&quot;" providerName="System.Data.EntityClient" />
    <add name="PaymentsContextReadOnly" connectionString="metadata=res://*/Payments.csdl|res://*/Payments.ssdl|res://*/Payments.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.25.30.113,30001;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity.ReadOnly;applicationintent=readonly&quot;" providerName="System.Data.EntityClient" />
    <add name="ReservationsContext" connectionString="metadata=res://*/Reservations.csdl|res://*/Reservations.ssdl|res://*/Reservations.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.25.30.113,30001;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Max Pool Size=1000;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity&quot;" providerName="System.Data.EntityClient" />
    <add name="ReservationsContextReadOnly" connectionString="metadata=res://*/Reservations.csdl|res://*/Reservations.ssdl|res://*/Reservations.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.25.30.113,30001;Initial Catalog=Reservations;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity.ReadOnly;applicationintent=readonly&quot;" providerName="System.Data.EntityClient" />
    <add name="OmnibeesHistoryContext" connectionString="metadata=res://*/OmnibeesHistory.csdl|res://*/OmnibeesHistory.ssdl|res://*/OmnibeesHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.30.113,30001;initial catalog=omnibeesHistory;persist security info=True;User ID=pedro;Password=pedro;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity&quot;" providerName="System.Data.EntityClient" />
    <add name="OmnibeesHistoryContextReadOnly" connectionString="metadata=res://*/OmnibeesHistory.csdl|res://*/OmnibeesHistory.ssdl|res://*/OmnibeesHistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.30.113,30001;initial catalog=omnibeesHistory;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True;application name=OB.REST.Reservations.Entity.ReadOnly;applicationintent=readonly&quot;" providerName="System.Data.EntityClient" />
    <add name="OmnibeesEvents" providerName="System.Data.SqlClient" connectionString="Data Source=172.25.30.114,30001;Initial Catalog=OmnibeesEvents;Persist Security Info=True;User ID=pedro;Password=pedro;Min Pool Size=5;Asynchronous Processing=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="CoordinatorQueuesFilePath" value="coordinator-routes.xml" />
    <add key="QueuesRefreshTimeInSeconds" value="30" />
    <add key="PullReservationErrorMargin" value="" />
    <add key="RateRoomDetailsInHistoryDBUpToTheXthMonth" value="" />
    <add key="BPagBellNotificationURL" value="https://srv-protur3:9090/BPagBellNotificationService.ashx" />
    <add key="loyaltyProgramFilesPath" value="" />
    <add key="PO.REST.Services.Endpoint" value="http://poapi-pp" />
    <add key="OB.PAR.REST.Services.Endpoint" value="http://obapi-par-pp" />
    <add key="OB.REST.Services.Endpoint" value="http://obapi-pp" />
    <add key="OB.Reservation.REST.Services.Endpoint" value="http://obapi-reservations-pp" />
    <add key="EventSystem_AuditQueue" value="audit.events@SRV-PP-EVENTS" />
    <add key="EventSystem_ErrorQueue" value="error.events@SRV-PP-EVENTS" />
    <add key="AllowedSubnets" value="192.168.1.0,192.168.200.0,192.168.150.11,81.90.48.125,127.0.0.1,172.25.10.0,172.25.50.0,81.90.48.122,192.168.110.0" />
    <add key="AllowedSubnetMasks" value="255.255.255.0,255.255.255.0,255.255.255.255,255.255.255.255,255.255.255.255,255.255.255.0,255.255.255.0,255.255.255.255,255.255.255.0" />
    <add key="ReservationsToIgnore" value="" />
    <!-- TripAdvisor -->
    <!-- TripAdvisor Partner Key -->
    <add key="TripAdvisorPartnerKey" value="001F000000ulUFD" />
    <!-- true for test endpoint / false for real endpoint -->
    <add key="TripAdvisorTestEnable" value="true" />
    <add key="TripAdvisorApiKey" value="6d9d25d3a30d750dad7ce2fe1e0a0b45" />
    <!-- Perot FTP Settings -->
    <add key="perotHost" value="sftp.tacsnet.com" />
    <add key="perotUsername" value="OMNIBEES" />
    <add key="perotPassword" value="kg$84j&amp;amp;amp;" />
    <add key="perotPort" value="22" />
    <add key="perotGroupId" value="" />
    <add key="NewRelic.AppName" value="" />
    <add key="AppName" value="OB.API.Reservations" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="ImagePatha" value="" />
    <add key="BookingEnginePath2" value="" />
    <add key="OmnibeesBaseUrl" value="" />
    <!-- KEYS USED IN logg error emails -->
    <add key="SourceApplicationName" value="" />
    <add key="EnvironmentMachine" value="" />
    <add key="Environment" value="PP" />
    <add key="EmailsErrorDistributionList" value="tony.santos@visualforma.pt;nuno.telo@visualforma.pt;nuno.santos@visualforma.pt;rafael.felix@visualforma.pt;qa@omnibees.com;duarte.peres@visualforma.pt,devops@omnibees.com" />
    <add key="IntegrationTeamDistributionList" value="tony.santos@visualforma.pt;carlos.delgado@visualforma.pt;integration.team@omnibees.com;qa@omnibees.com;duarte.peres@visualforma.pt,devops@omnibees.com" />
    <add key="FromAddress" value="admin@proturweb.com" />
    <!-- SECURITY -->
    <add key="ClientId" value="1" />
    <add key="ClientSecret" value="omnibeessecret" />
    <add key="AuthorizationServer:BaseAddress" value="http://localhost:50286" />
    <add key="AuthorizationServer:AuthorizePath" value="/OAuth/Authorize" />
    <!--<add key="AuthorizationServer:AuthorizePath" value="/Account/Authorize"/>-->
    <add key="AuthorizationServer:TokenPath" value="/OAuth/Token" />
    <add key="ApplicationScopes" value="Omnibees" />
    <!-- Adyen -->
    <add key="IsAdyenInTestMode" value="True" />
    <!-- Paypal Config -->
    <add key="PaypalIsInTestMode" value="True" />
    <add key="PaypalLiveRedirect" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;amp;amp;token=" />
    <add key="PaypalTestRedirect" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;amp;amp;token=" />
    <!-- Occ Levels -->
    <add key="OccupancyLevelsEnabled" value="True" />
    <add key="DB_Name" value="Omnibees" />
    <!-- Realtime Settings -->
    <add key="TracingMode" value="" />
    <add key="RealAllotmentEnabled" value="True" />
    <add key="RealTimeEnabled" value="True" />
    <add key="ProtectedCardMerchantKey" value="42D1746D-3D76-4E07-BABC-459106587160" />
    <add key="NewRelic.AgentEnabled" value="" />
    <add key="Logentries.Token" value="2f7ca109-76fc-47ea-822d-16fb3bdad6b8" />
    <!-- BrasPag -->
    <add key="IsBrasPagInTestMode" value="TRue" />
    <add key="BraspagBaseEndpoint" value="https://apisandbox.braspag.com.br/v2/sales/" />
    <add key="BraspagQueryEndpoint" value=" https://apiquerysandbox.braspag.com.br/v2/sales " />
    <add key="API.Type" value="All" />
    <add key="IsPayUInTestMode" value="true" />
    <!-- em produção meter o value a false -->
    <add key="PayUBaseEndpoint" value="https://api.paymentsos.com/" />
    <!-- Couchbase Version -->
    <add key="CouchbaseVersion" value="4" />
    <add key="CouchbaseUsername" value="userapp" />
    <add key="CouchbasePassword" value="123456" />
    <add key="EnableNewOffers" value="false" />
    <!-- RateRoomDetails in OmnibeesHistoryDb -->
    <add key="RateRoomDetailsInHistoryDBUpToTheXthMonth" value="-4" />
    <add key="DB_Name" value="Omnibees" />
    <add key="EnableNewOffers" value="false" />
	<add key="EnableFeatureStates128077" value="true" />
	  
  </appSettings>
  <system.web>
    <!--<authentication mode="None" />-->
    <sessionState mode="Off" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.6" debug="true" />
    <httpRuntime maxRequestLength="16384" minFreeThreads="352" minLocalRequestFreeThreads="304" targetFramework="4.6" />
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
  </system.web>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/api/Admin" />
    </applicationInitialization>
    <httpRedirect enabled="true" exactDestination="false" childOnly="true" httpResponseStatus="Found">
      <add wildcard="/" destination="Help" />
    </httpRedirect>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="ScriptModule-4.0" />
      <remove name="ServiceModel-4.0" />
      <remove name="ServiceModel" />
      <remove name="Profile" />
      <remove name="UrlAuthorization" />
      <remove name="OutputCache" />
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="UrlMappingsModule" />
      <remove name="RoleManager" />
      <remove name="AnonymousIdentification" />
      <remove name="DefaultAuthentication" />
      <remove name="FileAuthorization" />
      <remove name="FormsAuthentication" />
    </modules>
    <httpProtocol allowKeepAlive="false">
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="notifications@protur.pt">
        <network host="SRV-OP-MAIL" userName="notifications@protur.pt" port="25" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="svcUserAdminSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HtmlTemplateServiceSoap" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ImageServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- Adyen Gateway -->
        <binding name="PaymentHttpBinding">
          <security mode="Transport">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Basic" realm="Adyen PAL Service Authentication">
              <!--Adyen PAL Service Authentication-->
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
        <!--Braspag-->
        <binding name="AntiFraudSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CartaoProtegidoSoap">
          <security mode="Transport" />
        </binding>
        <!-- BPAG -->
        <binding name="BPagWSSoapBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <!-- BrasPag -->
      <customBinding>
        <binding name="PagadorTransactionSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!-- HTML Templates -->
      <endpoint address="http://proturtemplates-pp/HtmlTemplateService.asmx" binding="basicHttpBinding" bindingConfiguration="HtmlTemplateServiceSoap" contract="HtmlTemplateService.HtmlTemplateServiceSoap" name="HtmlTemplateServiceSoap" />
      <!--Braspag-->
      <endpoint address="https://homologacao.braspag.com.br/AntiFraudews/antifraud.asmx" binding="basicHttpBinding" bindingConfiguration="AntiFraudSoap" contract="BraspagAntiFraudService.AntiFraudSoap" name="AntiFraudSoap" />
      <endpoint address="https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx" binding="customBinding" bindingConfiguration="PagadorTransactionSoap12" contract="BraspagService.PagadorTransactionSoap" name="PagadorTransactionSoap12" />
      <endpoint address="https://cartaoprotegido.braspag.com.br/Services/v2/CartaoProtegido.asmx" binding="basicHttpBinding" bindingConfiguration="CartaoProtegidoSoap" contract="BraspagProtectedCreditCardService.CartaoProtegidoSoap" name="CartaoProtegidoSoap" />
      <!-- BPAG -->
      <endpoint address="https://certificacao.bpag.uol.com.br/bpag2/services/BPagWS" binding="basicHttpBinding" bindingConfiguration="BPagWSSoapBinding" contract="BPagService.BPagWS" name="BPagWS" />
      <!-- Adyen -->
      <endpoint address="https://pal-test.adyen.com/pal/servlet/Payment/v12" binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding" contract="AdyenService.PaymentPortType" name="PaymentHttpPort" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20511.1437" newVersion="4.0.20511.1437" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NServiceBus.Core" publicKeyToken="9fc386479f8a226c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase.NetClient" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.2.0" newVersion="2.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>